<div class=submenu>
    {% set menu = [ 
        ('Podręcznik', 'book/index'),
        ('Receptariusz', 'cookbook/index'),
        ('Komponenty', 'components/index'),
        ('Najlepsze praktyki', 'best_practices/index'),
        ('Krótki kurs', 'quick_tour/index'),
        ('Informator API', 'reference/index'),
        ('Indeks', 'genindex'),
        ('Współpraca', 'contributing/index')
    ] %}
    
    <ul class="list_submenu list-unstyled">
    {% for name, doc in menu %}
        <li {% if loop.first %}class="first"{% endif %}>
            <a href="{{ pathto(doc) }}">{{ name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
